* {
  box-sizing: border-box;
  padding: 0;
  margin: 1rem;
}

body {
  background: rgb(2, 94, 102);
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  text-align: center;
}

.header {
  margin-bottom: 4rem;
  padding-top: 1rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 78px;
  color: white;
}

#method {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 68px;
  color: white;
  background: rgb(2, 94, 102);
}
.method_header {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 78px;
  color: white;
}

.weight {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 78px;
  color: white;
}

.height {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 78px;
  color: white;
}

.weight_input {
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  color: white;
  background: #2e2d2d;
}

.height_input {
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  color: white;
  background: #2e2d2d;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1.2rem;
}

.display {
  outline: 2px solid;
  background: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  color:rgb(2, 94, 102);
}